@model Ingeniux.Runtime.ICMSElement
@using Ingeniux.Runtime;

@{
	var siteControl = Model;
}

<!--=== Header ===-->
<div class="header">
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@siteControl.GetLinkItem("Home").URL">
					<img id="logo-header" src="@Url.Content("~/images/logo1-default.png")" alt="Logo">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="@Url.Content("~/" + siteControl.GetLinkItem("Home").URL)" class="dropdown-toggle">Home
						</a>
					</li>
					@{
						var navEntries = siteControl.GetNavigationItems("TopNavigation", NavigationElementType.Navigation,
							false, false);

						foreach (var navItem in navEntries)
						{
						<li class="dropdown">
							@{
							var subEntries = navItem.GetLinkItems().ToArray();
							}
							<a href="@Url.Content("~/" + navItem.URL)" class="dropdown-toggle" 
								@if (subEntries.Length > 0)
		{
			@Html.Raw("data-toggle=\"dropdown\" data-hover=\"dropdown\" data-delay=\"0\" data-close-others=\"false\"");
		}>@navItem.LinkName
								@if (subEntries.Length > 0)
		{
									<i class="icon-angle-down"></i>
		}
							</a>
							@if (subEntries.Length > 0)
	   {
								<ul class="dropdown-menu">
									@foreach (var subItem in subEntries)
		 {
										<li><a href="@Url.Content("~/" + subItem.URL)">@subItem.LinkName</a></li>
		 }

								</ul>
	   }
						</li>							
						}
					}
					<li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li>
				</ul>
				<div class="search-open">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search">
						<span class="input-group-btn">
							<button class="btn-u" type="button">Go</button>
						</span>
					</div>
					<!-- /input-group -->
				</div>
			</div>
			<!-- /navbar-collapse -->
		</div>
	</div>
</div>
<!--/header-->
<!--=== End Header ===-->
